################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/working/Application/LLE/.vs/LLE.slnx
/working/Application/LLE/LLE.Native/x64/Debug
/working/Application/LLE/LLE.Native/x64/Debug
/working/Application/LLE/vcpkg_installed
/working/Application/LLE/x64/Debug
/20251224/Application/LLE/.vs/LLE.slnx
/20251224/Application/LLE/LLE.Native/x64/Debug
/20251224/Application/LLE/packages/Microsoft.ML.OnnxRuntime.Gpu.Windows.1.20.1
/20251224/Application/LLE/vcpkg_installed
/20251224/Application/LLE/x64/Debug

/20251224/python/results/output_images
