################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/working/Application/LLE/.vs/LLE.slnx
/working/Application/LLE/LLE.Native/x64/Debug
/working/Application/LLE/LLE.Native/x64/Debug
/working/Application/LLE/vcpkg_installed
/working/Application/LLE/x64/Debug
